body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  text-align: left;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
  border-bottom: 1px solid #d1d5db;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #f9fafb;
  border-top: 1px solid #d1d5db;
}
main h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #111827;
}
main p {
  font-size: 1rem;
  color: #374151;
  margin: 0.25rem 0;
}
main p.note {
  font-size: 0.875rem;
  color: #6b7280;
}

.upload-box {
  border: 2px dashed #9ca3af;
  border-radius: 1rem;
  padding: 3rem 2rem;
  background: white;
  margin-top: 2rem;
  cursor: pointer;
  display: inline-block;
}
.upload-box:hover {
  background-color: #f3f4f6;
}
.upload-box .upload-title {
  font-size: 1.125rem;
  font-weight: 500;
}
.upload-box .button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
}
.upload-box input[type=file] {
  display: none;
}

#analyze {
  display: none;
}

#loading {
  display: none;
  margin-top: 2rem;
  font-size: 1rem;
  color: #2563eb;
  text-align: center;
  font-weight: bold;
  padding-top: 5rem;
  padding-bottom: 2rem;
  position: relative;
}
#loading .ball {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 4rem;
  z-index: 0;
  /* &:focus {
     outline: none;

     &:after {      
       animation: bounce $interval * 2 infinite alternate;
     }

     @keyframes bounce {
       from {
         transform: scale(2);
         animation-timing-function: ease-in;
       }
       to {
         transform: scale(0.8);
         animation-timing-function: cubic-bezier(0, 0, 0, 1);
       }
     }

     @keyframes bounce-shadow {
       from {
         transform: scale(2.5, 2.6) translateY(-50%);
         animation-timing-function: ease-in;
       }
       to {
         transform: scale(0.5) translateY(0);
         animation-timing-function: cubic-bezier(0, 0, 0, 1);
       }
     }

     &:before {
       content: '';
       position: absolute;
       display: block;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       border-radius: 50%;
       background: rgba(black, 0.05);
       animation: bounce-shadow $interval * 2 infinite alternate;
       z-index: -10;
     }
   }*/
}
#loading .ball:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
  background: #6E64F0;
  z-index: 1;
}
#loading .dog {
  width: 100px;
  height: 100px;
  z-index: 1;
}
#loading .dog:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.03);
  transform: translateY(-30%) scale(1.5);
}
#loading .dog * {
  position: absolute;
}
#loading .dog-body {
  top: -50%;
  animation: dog-body 200ms ease-in-out infinite alternate;
}
#loading .dog-body:before {
  content: "";
  position: absolute;
  bottom: 90%;
  right: 50%;
  width: 90%;
  height: 90%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  background: rgba(255, 255, 255, 0.4);
  transform-origin: right bottom;
  animation: dog-tail-blur 200ms 33.3333333333ms ease-in-out infinite alternate both;
}
@keyframes dog-tail-blur {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes dog-body {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}
#loading .dog-head {
  /*animation: dog-head $interval * 9 cubic-bezier(0.11, 0.79, 0, 0.99) infinite;

  @keyframes dog-head {
    from, to {
      transform: rotate(45deg);
    }
    33.3% {
      transform: rotate(-45deg);
    }
    66.6% {
      transform: rotate(0);
    }
  }*/
}
#loading .dog-torso {
  top: -20%;
  animation: dog-torso 200ms ease-in-out infinite alternate-reverse;
}
@keyframes dog-torso {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(5%);
  }
}
#loading .dog-eyes {
  width: 60%;
  top: 55%;
  left: 20%;
  z-index: 1;
}
#loading .dog-eyes:before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  position: absolute;
  background: orange;
  top: -10px;
  left: -10px;
  z-index: 0;
  border: 4px solid white;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-width: 0;
  transform: rotate(-45deg);
}
#loading .dog-eye {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  z-index: 1;
  animation: dog-eye 1800ms infinite;
}
@keyframes dog-eye {
  from, to {
    animation-timing-function: step-end;
    opacity: 1;
  }
  50%, 55% {
    animation-timing-function: step-start;
    opacity: 0;
  }
}
#loading .dog-eye:first-child {
  left: 0;
}
#loading .dog-eye:last-child {
  right: 0;
}
#loading .dog-muzzle {
  width: 60%;
  left: 20%;
  height: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: white;
  bottom: -15%;
}
#loading .dog-muzzle:before, #loading .dog-muzzle:after {
  content: "";
  display: block;
  position: absolute;
}
#loading .dog-muzzle:before {
  width: 6px;
  height: 20px;
  bottom: 0;
  left: calc(50% - 3px);
  background: #EAEBEC;
}
#loading .dog-muzzle:after {
  background: black;
  width: 20px;
  height: 15px;
  bottom: 12px;
  left: calc(50% - 10px);
  border-bottom-left-radius: 60% 60%;
  border-bottom-right-radius: 60% 60%;
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
}
#loading .dog-tongue {
  width: 40px;
  height: 100%;
  left: calc(50% - 20px);
  z-index: -1;
  transform-origin: center top;
  animation: dog-tongue 1800ms -50ms ease-in-out infinite;
}
@keyframes dog-tongue {
  from, to {
    transform: rotate(0);
  }
  16.6666666667% {
    transform: rotate(30deg);
  }
  33.3333333333%, 66.6666666667% {
    transform: rotate(0);
  }
  50%, 83.3333333333% {
    transform: rotate(-20deg);
  }
}
#loading .dog-tongue:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: #FD3163;
  animation: dog-tongue-inner 100ms ease-in-out infinite alternate;
}
@keyframes dog-tongue-inner {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(22%);
  }
}
#loading .dog-ears {
  width: 40%;
  top: 25%;
  left: 30%;
  animation: dog-ears 1800ms 100ms ease infinite;
}
@keyframes dog-ears {
  42.3%, 71.6% {
    transform: rotate(-5deg);
  }
  50.3%, 79.6% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  12% {
    transform: rotate(-5%);
  }
  from, 33.3%, 66%, to {
    transform: rotate(0);
  }
}
#loading .dog-ear {
  bottom: -10px;
  height: 50px;
  width: 50px;
  background: #EAEBEC;
  animation-duration: 400ms;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
#loading .dog-ear:first-child {
  border-bottom-left-radius: 80%;
  border-top-right-radius: 80%;
  right: 100%;
  box-shadow: inset -15px 15px 0 1px white;
  transform-origin: right bottom;
  transform: rotate(10deg);
}
#loading .dog-ear:last-child {
  border-top-left-radius: 80%;
  border-bottom-right-radius: 80%;
  left: 100%;
  box-shadow: inset 15px 15px 0 0 white;
  transform-origin: left bottom;
  transform: rotate(-10deg);
}
#loading .dog-tail {
  width: 22px;
  height: 24.2px;
  background: white;
  bottom: 40%;
  border-radius: 11px;
  left: calc(50% - 11px);
  transform-origin: center bottom;
}
#loading .dog-tail .dog-tail {
  animation: dog-tail-segment 200ms ease-in-out infinite alternate;
}
@keyframes dog-tail-segment {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
#loading .dog-body > .dog-tail {
  bottom: 90%;
  animation: dog-tail 200ms ease-in-out infinite alternate;
}
@keyframes dog-tail {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
#loading .dog-body,
#loading .dog-torso,
#loading .dog-head {
  border-radius: 50%;
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
}
#loading .dog-body, #loading .dog-torso {
  box-shadow: inset 0 -15px 0 0 #EAEBEC;
}
#loading body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loading html, #loading body {
  background: #FFE16E;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#loading *, #loading *:before, #loading *:after {
  box-sizing: border-box;
  position: relative;
}

footer {
  text-align: center;
  font-size: 0.875rem;
  color: #6b7280;
  padding: 1rem;
}/*# sourceMappingURL=styles.css.map */
